body,
html {
    width: 100%;
    height: 100vh;
    background: rgb(181, 197, 226);
}

main {
    display: grid;
    grid-template-rows: 50px 1fr;
    height: 100vh;
}

ul {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    padding: 5px 10px 5px 10px;
    background-color: rgb(181, 197, 226);
}

span {
    font-size: 16pt;
}



header {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container section {
    padding: 50px;
    width: 500px;
    height: auto;
    background: white;
    border-radius: 20px;
    margin: 2rem;
}

section .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 17pt;
}

section form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

section form .btn input {
    cursor: pointer;
    padding: .5rem;
    border-radius: 5px;
    color: white;
    background-color: rgb(4, 105, 0);
}

section form .input-box {
    position: relative;
    width: 100%;

}

section form .input-box input {
    font-size: 15pt;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid rgb(148, 148, 148);
}

section form .input-box input:focus,
section form .input-box input:valid {
    border-bottom: 2px solid cornflowerblue;
}

section form .input-box input:focus~label,
section form .input-box input:valid~label {
    top: -25px;
    left: 0px;
    color: cornflowerblue;
}


section form .input-box label {
    font-size: 12pt;
    position: absolute;
    top: 0;
    left: 10px;
    color: rgb(148, 148, 148);
}